header {
    z-index: 6;
    background: #fff;
    border-bottom: 1px solid $grey;
    box-shadow: inset 0 0 0 0 $grey,0 2px 1px 0 rgba(47,61,73,.05);
    color: #2e3d49;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    transition: transform 2s cubic-bezier(.4,0,.2,1) ease;
    transform-style: preserve-3d;
    will-change: transform;
    transition-duration: .2s;
    transition-property: transform;

    @include respond-to('sm', 'xs') {
        width: 100%;
        transform: translate3d(0, 0, 0)!important;
    }

    @include respond-to('lg') {
        width: calc(100% - #{$sidebar-size});
        transform: translate3d($sidebar-size, 0, 0)!important;
    }

    &.no_sidebar {
        transform: translate3d(0, 0, 0)!important;
        width: 100%;
    }

    .header-navicon {
        display: flex;
        align-items: center;
        align-content: center;
        @include respond-to('lg') {
            display: none;
        }
        i {
            color: $white!important;
            font-size: 2rem!important;
        }
    }
    .header-menu {
        float: right!important;
    }
    .header-title {
        font-size: 24px;
        color: $white;
        margin-left: 0;
        line-height: 60px;
        @include respond-to('lg') {
            margin-left: 24px;
        }
    }
}
