#app {
    color: #333;
    width: 100%;
    height: 100%;
    .page-layout {
        position: absolute;
        width: 100%;
        height: 100%;
        main {
            z-index: 1;
            overflow-x: auto;
            height: 100%;
            padding-top: 80px;
            position: absolute;
            transform-style: preserve-3d;
            will-change: transform;
            transition-property: transform;
            width: 100%;
            transform: translate3d(0, 0, 0)!important;
            @include respond-to('lg') {
                width: calc(100% - #{$sidebar-size}); //
                transform: translate3d($sidebar-size, 0, 0)!important; //
            }
            .main-content {
                width: 100%;
                margin: 0;
                @include respond-to('sm', 'xs') {
                    margin: 0 auto;
                }
                .container {
                    margin-top: 0;
                    max-width: 1140px;
                    padding: 0 20px;
                    > div:first-child {
                        width: 100%;
                    }
                }
            }
        }
    }
}
